$primary-text-color: #211f1f;
$secondary-text-color: #ffffff;
$dark-primary-text-color: #3A4256;

$primary-color: #0FCFEC;
$secondary-color: #19D3AE;

$bg-color: #EDF5F5;

$accent: #3A4256;

$neutral: #221825,
 